html{
	min-height: 100%;
	background-repeat: no-repeat;
	background: linear-gradient(black, rgb(34, 34, 34), rgb(150, 150, 150));
}

nav{
	padding: 25px;
	display: flex;
	justify-content: space-between;
}

nav a{
	color: white;
	text-decoration: none;
	margin-right: 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 18px;
}

.links{
	list-style-type: none;
 	margin: 0;
	padding: 0;
}

.links li{
	display: inline;
	padding: 5px;
}


.flexbox {
    display: flex;
    min-height: 95vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
 
.flexbox h1 {
    color: white;
    font-size: 50px;
}

.container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5vh;
    max-width: 1200px;
    height: auto;
    padding-bottom: 10px;
    width: auto;
    border-radius: 30px;
}

.champion{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100px;
	width: 100px;
	padding: 30px;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400; 
}

.champion img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.champion a{
	padding: 5px;
	color: black;
	text-decoration: underline;
}